extends layout

//- Loans list view (based on example-markup/all_loans.html)
block content
  h1 Loans

  .create-search-container
    a.button(href='/loans/new') Create New Loan
    form(method='get' action='/loans')
      input(type='search' id='search' name='search' placeholder='Search...' value=(pagination && pagination.searchQuery ? pagination.searchQuery : ''))
      button.search-btn(type='submit') Search

  p.filters
    strong Filters:
    span.filter-list
      if currentPath === '/loans'
        span.active-filter All
      else
        a(href='/loans') All
      if currentPath === '/loans/overdue'
        span.active-filter Overdue
      else
        a(href='/loans/overdue') Overdue
      if currentPath === '/loans/active'
        span.active-filter Active
      else
        a(href='/loans/active') Active

  .loan-listing
    table
      thead
        tr
          th Book
          th Patron
          th
            | Loaned
            br
            | on
          th
            | Return
            br
            | by
          th
            | Returned
            br
            | on
          th Action
      tbody
        if loans && loans.length
          each loan in loans
            tr
              td
                if loan.Book
                  a(href=`/books/${loan.Book.id}`)= loan.Book.title
                else
                  | (book removed)
              td
                if loan.Patron
                  a(href=`/patrons/${loan.Patron.id}`)= `${loan.Patron.first_name} ${loan.Patron.last_name}`
                else
                  | (patron removed)
              - var formatShort = (d) => {
              -   if (!d) return ''
              -   const parts = d.split('-')
              -   // parts = [YYYY, MM, DD]
              -   return `${parts[1]}/${parts[2]}/${parts[0].slice(2)}`
              - }
              td= formatShort(loan.loaned_on)
              td= formatShort(loan.return_by)
              td= formatShort(loan.returned_on)
              td
                if !loan.returned_on
                  a.button(href=`/loans/${loan.id}/return`) Return Book
                else
                  | 
        else
          tr
            td(colspan='6') No results found.

    if pagination
      nav.pagination
        ul
          if pagination.currentPage > 1
            li
              a(href=`?page=${pagination.currentPage - 1}${pagination.searchQuery ? `&search=${pagination.searchQuery}` : ''}`) Previous
          - var total = pagination.totalPages
          - for (var p = 1; p <= total; p++)
            li(class=(p === pagination.currentPage ? 'active' : ''))
              a(href=`?page=${p}${pagination.searchQuery ? `&search=${pagination.searchQuery}` : ''}`)= p
          if pagination.currentPage < pagination.totalPages
            li
              a(href=`?page=${pagination.currentPage + 1}${pagination.searchQuery ? `&search=${pagination.searchQuery}` : ''}`) Next
